
{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{%block content%}
<!--Main layout-->
<main>
    <div class="container">
		<div class="container-fluid">
		
				
				<div class="container">
					<div class="row">
						<div class="col-md-4 mx-auto ">
							
							<a href="{%url 'create_post'%}" class="btn btn-primary">Add New Post</a>
						</div>

					</div>
					<br>
					<hr>
					<div class="row">
						
						{% for object in object_list %} 
							<div class="col-md-4 ">
								<div class="card" style="width: 18rem;">
									<div class="card-body">
									<h5 class="card-title">{{ object.title }}</h5>
									<p class="card-text">{{ object.content }}</p>
									<a href="{%url 'post_update' object.id %}" class="card-link">Update</a>
									<a href="{%url 'post_delete' object.id %}" class="card-link">Delete</a>
									</div>
								</div>
								<hr/> 
							</div>
							<!-- If objet_list is empty -->
							{% empty %} 
							<h1>No objects yet.</h1> 
							{% endfor %}
						
					</div>
				</div>
			
			
			</div>
		
</div>
</main>
{%endblock content%}